.clients-list {
    @include centeredFlex();
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        height: 92px;

        @include widthCalc(2);

        @include tablet {
            @include widthCalc(3);
        }

        @include desktop {
            @include widthCalc(6);
        }
    }

    &__link {
        height: inherit;

        @include centeredFlex();

        border: 1px solid $main-social-icon-color;
        border-radius: 4px;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            border-color: $logo-color;
        }
    }

    &__icon {
        width: 106px;
        height: 60px;

        fill: $main-social-icon-color;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .clients-list__link:hover &,
        .clients-list__link:focus & {
            fill: $logo-color;
        }
    }
}
