.section-our-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;

  &__item {
    max-width: 270px;

    border-radius: 0px 0px 4px 4px;

    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__container {
    padding: 30px 0;
  }

  &__name {
    color: $head-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 119%;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
  }

  &__position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 119%;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
