.footer {
    background: $full-page-color;
    padding: 60px 0;

    &__container {
        @include desktop {
            display: flex;
            align-items: baseline;
        }
    }
}

.logo.footer__logo {
    display: inline-block;

    margin-bottom: 20px;
}

.footer-address-connect-box {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}

.address-box {
    text-align: center;
    margin-bottom: 60px;

    @include tablet {
        margin-right: 165px;
    }

    @include desktop {
        text-align: left;
        margin-right: 70px;
        margin-bottom: 0px;
    }
}

.address {
    color: $white-color;

    font-style: normal;
    line-height: 171%;
    letter-spacing: 0.03em;
}

.address-list {
    &__item:not(:last-child) {
        margin-bottom: 9px;

        @media screen and (max-width: 1199px) {
            margin-bottom: 8px;
        }
    }

    &__link {
        color: rgba(255, 255, 255, 60%);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: #2196f3;
        }
    }
}

.strong {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }

    display: block;
    margin-bottom: 20px;

    color: $white-color;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.connect-box .social-list {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}
