.hero {
    &__container {
        padding: 118px 0;

        @include desktop {
            padding: 200px 0;
        }

        max-width: 1600px;
        margin: 0 auto;

        background-color: $full-page-color;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-img.jpg);
        /*we can not to add these properties*/
        background-repeat: no-repeat;
        background-position: center;
    }

    &__title {
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;

        width: 360px;

        font-weight: 900;
        font-size: 26px;
        line-height: 162%;

        @include desktop {
            width: 696px;

            font-size: 44px;
            line-height: 136%;
        }

        letter-spacing: 0.06em;

        color: $white-color;
    }
}
