.hero {
    &__container {
        margin: 0 auto;
        padding: 118px 0;

        min-width: 350px;

        background-color: $full-page-color;

        background-image: $bg-gradient, url(../../images/hero-img-mob.jpg);

        @include devicePixel_2 {
            background-image: $bg-gradient, url(../../images/hero-img-mob-2x.jpg);
        }

        /*we can not to add these properties*/
        background-repeat: no-repeat;
        background-position: center;

        @include tablet {
            background-image: $bg-gradient, url(../../images/hero-img-tab.jpg);

            @include devicePixel_2 {
                background-image: $bg-gradient, url(../../images/hero-img-tab-2x.jpg);
            }
        }

        @include desktop {
            max-width: 1600px;
            padding: 200px 0;

            background-image: $bg-gradient, url(../images/hero-img.jpg);

            @include devicePixel_2 {
                background-image: $bg-gradient, url(../../images/hero-img-2x.jpg);
            }
        }
    }

    &__title {
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;

        width: 360px;

        font-weight: 900;
        font-size: 26px;
        line-height: 162%;

        @include desktop {
            width: 696px;

            font-size: 44px;
            line-height: 136%;
        }

        letter-spacing: 0.06em;

        color: $white-color;
    }
}
