@mixin centeredFlex($flexType: flex) {
    display: $flexType;
    justify-content: center;
    align-items: center;
}

@mixin horizontalCenteredFlex($flexType: flex, $position: center) {
    display: $flexType;
    align-items: $position;
}

@mixin mobile {
    @media screen and (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin widthCalc($quantity) {
    width: calc((100% - 30px * ($quantity - 1)) / $quantity);
}

@mixin devicePixel_2 {
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        @content;
    }
}
